window {
	font-size: 20;
    	background: #2a2a2a;
    	border-radius: 10px;
}

#input {
    	padding: 5px;
    	margin: 5px;
    	padding-left: 20px;
    	border: none;
    	color: #cecece;
    	background-color: #1a1a1a;
    	border-radius: 10px;
    	margin: 5px;
    	margin-bottom: 2px;
}
#input:focus {
    	border: 0px solid #1e1e2e;
    	margin-bottom: 0px;
}

#inner-box {
    	margin: 5px;
    	border: 10px;
    	padding-left: 15px;
	padding-right: 15px;
    	color: #cecece;
    	background-color: #2a2a2a;
    	border-radius: 10px;
}

#outer-box {
    	margin: 0px;
    	border-radius: 10px;
    	background-color: #2a2a2a;
}

#scroll {
    	margin-top: 5px;
    	border: none;
    	border-radius: 10px;
    	margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#entry {
	font-size: 17;
	padding: .30em;
}

#entry:selected {
	border: 10px;
    	border-radius: 10px;
    	background: #1a1a1a;
    	color: #cecece;
}
