* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
  border-radius: 4px;
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  margin: 6px 0px;
  border-radius: 4px;
  padding: 0px 14px;
  color: #EBDBB2;
}

#workspaces button.active {
  color: #EBDBB2;
  background-color: #458588;
}

#workspaces button:hover {
 background-color: #454545;
}

#workspaces button.urgent {
  color: #fb4934
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #282828;
  color: #EBDBB2;
}

#custom-power {
  margin-right: 6px;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 16px;
  border-radius: 8px 0px 0px 8px;
  color: #EBDBB2
}
#memory {
  background-color: #fe8019;
}
#battery {
  background-color: #689d6a;
}
@keyframes blink {
  to {
    background-color: #8ec07c;
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#battery.charging {
  background-color: #689d6a;
}

#backlight {
  background-color: #98971a;
}

#pulseaudio {
  background-color: #d79921;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: #8f3f71;
}

#custom-power {
  background-color: #cc241d;
}


tooltip {
border-radius: 8px;
padding: 15px;
background-color: #1d2021;
}

tooltip label {
padding: 5px;
background-color: #1d2021;
}
